<h1><%= @receiver.username %>さんとのメッセージ</h1>

<div class="row bg-info">
    <div class="col-xs-8">
        <% @messages.each do |message| %>
            <% if message.user_id == @user.id %>
                <p class="right_balloon new_line"><%= message.content %></p>
            <% else %>
                <p class="left_balloon"><%= message.content %></p>      
            <% end %>
        <% end %>
    </div>

    <div class="col-xs-8">
        <%= form_for([@user, @message], class: 'form-inline') do |f| %>
            <div class="form-group">
            <%= f.hidden_field :user_id, value: @user.id %>
            <%= f.hidden_field :receiver_id, value: @receiver.id %>
            <%= f.text_field :content, class: 'form-control' %>
            <%= f.submit '投稿', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div>
</div>

<%= link_to '一覧に戻る', user_receivers_path(@user) %>
